body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    font-size: 17px;
    color: #1c014a;
}

h1 {
    text-align: center;
    padding: 25px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 35px;
    color:#eee;
    text-shadow: 2px 2px 5px rgb(193, 146, 255); 
    background-image: linear-gradient(to bottom right, #5b369d, #9b72ce);
}

footer {
    margin: 30px -8px -10px -8px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom right, #5b369d, #9b72ce);
    padding: 5px;
}

.topnav {
    margin: -24px -8px 17px -8px;
    background-color: #580bb6;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #a87adc;
    color: white;
  }
  
  .topnav a.active {
    background-color: #b083df;
    color: white;
  }
